#divDados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#divDados h1 {
    color: rgba(0,0,90);
    font-weight: 400;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 95%;
}

#divConfirmar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2%;
    margin-bottom: 5%;
}

#nome {
    width: 400px;
}

#email {
    width: 400px;
}

#sexo {
    width: 100px;
}

@media screen and (max-width: 1140px){
    #nome {
        width: 300px;
    }
    
    #email {
        width: 300px;
    }
    
    #sexo {
        width: 100px;
    }
}

@media screen and (max-width: 900px){
    #nome {
        width: 200px;
    }
    
    #email {
        width: 200px;
    }
    
    #sexo {
        width: 100px;
    }
}

@media screen and (max-width: 720px){
    #divDados {
        justify-content: flex-start;
        padding-left: 10px;
    }

    #nome {
        width: 250px;
    }
    
    #email {
        width: 250px;
    }
    
    #sexo {
        width: 100px;
    }

}

@media screen and (max-width: 320px){
    #divDados {
        flex-direction: column;
        padding-left: 10px;
    }

    #divConfirmar {
        padding-right: 5%;
        margin-bottom: 5%;
    }
}

